<app-header ></app-header>
<div class="container justify-content-center">
  <div class="row justify-content-center row-cols-1 pt-5 row-cols-md-2 g-4 " >
    <div class="d-flex justify-content-center row">
      <button class="btn btn-success" >
        Crear nuevo proyecto
      </button>
      <div  class="row">
        <label > User</label>
        <input class="my-1" type="text">
        <label> IdUser</label>
        <input class="my-1" type="text">
        <label> title</label>
        <input class="my-1" type="text">
        <label> body</label>
        <input class="my-1" type="text">
      </div>
    </div>
  </div>
  <div class="container justify-content-center my-3">
    <div class="text-center justify-content-center d-flex flex-row card-header ">
      <p class="card-text col-1">
        User Id
      </p>
      <p class=" card-text col-1">
        id
      </p>
      <p class="card-text col-2">
        title
      </p>
      <p class="card-text col-8">
        body
      </p>
    </div>   
  </div>

  <div class="row justify-content-center row-cols-1  row-cols-md-8  d-flex g-4 mb-1" *ngFor="let project of projects">
    <app-project-card (goToProductDetail)="goToProjectDetail($event)"  [project]="project" ></app-project-card>
  </div>
</div>