@import "./../../../styles.scss";

.input-password {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-password {
  &::before {
    color: gray;
    cursor: pointer;
    font-size: 3.25rem;
  }
}
